@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500&family=Poppins:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #110f23;
    color: #f5f5f5;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    padding: 18px;
    text-align: start;
    width: 100%;
    border-top: #eb055a;
}

header h1 {
    color: #eb055a;
}

strong {
    color: #eb055a;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.principal-text {
    margin-bottom: 20px;
    text-align: center;
    color: #f5f5f5;
    font-size: 28px;
}

.principal-text span {
    color: #eb055a;
}

.input-container {
    text-align: center;
    margin-bottom: 20px;
}

.input-container label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #f5f5f5;
}

.input-container input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    background-color: #191534;
    color: #fff;
}

.input-container input::placeholder {
    color: #ccc;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    justify-content: center;
    grid-auto-rows: minmax(150px, auto);
    margin: auto;
}

.card {
    background-color: #191534;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    min-height: 150px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    position: relative;
    transition: transform 0.3s, box-shadow 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.card h2, .card p {
    transition: opacity 0.3s ease-in-out;
}

.card:hover h2, .card:hover p {
    opacity: 0;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.5);
}

.resolver-btn {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #eb055a;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: bottom 0.3s ease-in-out, transform 0.3s;
    font-size: 14px;
}

.card:hover .resolver-btn {
    bottom: 50%;
    transform: translate(-50%, 50%);
}

footer {
    background-color: #191534;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-top: auto;
}

@media (max-width: 768px) {
    main {
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .card {
        width: 100%;
    }
}
