/* Aplicar um reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

body {
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

/* Centralizar o conteúdo da div.container */
.container {
    display: flex;
    justify-content: space-around; /* Centraliza e distribui espaço entre os elementos */
    align-items: center;
    flex-direction: row;
    width: 100%; /* Garante que a div use toda a largura */
    max-width: 1200px; /* Largura máxima */
    padding: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1; /* Flexível, cada formulário ocupa a mesma quantidade de espaço */
    margin: 10px;
    max-width: 400px; /* Largura máxima para os formulários */
}

/* Estilo dos botões */
button {
    background-color: #7920F4;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #5d15b3;
}

/* Estilo para os links */
a {
    color: #0056b3;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Alinhamento no centro do texto do conteúdo alternado */
.toggle-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

/* Estilo para o texto de recuperação */
.recovery-content {
    text-align: center;
}
